<% if @post.errors.any? %>
  <div class="alert alert-danger">
    <h5>Common errors</h5>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @post, html: {multipart: true} do |f| %>
  <p>
    <%= f.label :title %>
  </p>
  <p>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %>
  </p>
  <p>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :body %>
  </p>
  <p>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
  <p></p>
<% end %>